---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";

import Hero from "../components/Hero.astro";

---

<Layout title="Givuma - About Us" description="We provide services for small to large companies. We provide iOS or Androit Native Apps and Digital Marketing services">

  <Hero />

  <Main>

    <h1 class="mb-2 text-3xl font-semibold text-gray-900 dark:text-gray-800">404</h1>

    <p>Error: This page does not exists.</p>
  </Main>
</Layout>
