---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";

import Hero from "../components/Hero.astro";
---

<Layout title="Givuma - Apps and Digital Marketing at your service" description="Services for small to large companies. We provide iOS or Androit Native Apps and Digital Marketing services">
  
  <Hero />

  <Main>
    <blockquote class="p-4 my-4 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
      <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
        One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man. - <i>Elbert Hubbard (Author)</i>
      </p>
    </blockquote>

    <h1 class="mb-2 text-3xl font-semibold text-gray-900 dark:text-gray-800">Our Services</h1>
    <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
      <li class="flex items-center">
        <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
        </svg>
        iOS Native and React Native Apps
      </li>
      <li class="flex items-center">
        <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
        </svg>
        Android Native and React Native Apps
      </li>
      <li class="flex items-center">
        <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
        </svg>
        Digital Marketing Services
      </li>
    </ul>
  </Main>
</Layout>
