---
const { class: className, title, subtitle, minititle } = Astro.props;
---

<div class="w-full max-w-xl mb-14" :class={className}>
  <div class="flex flex-col-reverse">
    <h2 class="font-sans text-4xl font-medium mb-4 text-muted-800 dark:text-muted-100">{title}</h2>
    <h3 class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-700">{minititle}</h3>
  </div>
  <p class="text-lg text-muted-700 dark:text-muted-400">{subtitle}</p>
</div>
