---
import Layout from "@layouts/Default.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Cta from "@components/content/Cta.astro";
---

<Layout
  title="Givuma Consulting - Apps and Digital Marketing at your service"
  description="Services for small to large companies. We provide iOS or Androit Native Apps and Digital Marketing services"
>
  <HeroMain />

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Get high value services"
        subtitle="At Givuma Consulting, we pride ourselves on delivering exceptional, tailored solutions for your business needs. With a spectrum of services designed to bolster your operations, our experienced team is here to ensure your business thrives. Dive deeper to discover how we can empower your enterprise."
        minititle="Services with high quality"
      />

      <div class="grid md:grid-cols-1 ltablet:grid-cols-5 lg:grid-cols-5 gap-x-6 gap-y-6" x-intersect="activeStep = ''">
        <!-- Item -->
        <div>
          <IconBlock
            title="Accounting"
            icon='<svg class="inline relative -top-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16"><path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/><path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/></svg>'
            text="Navigate your finances with ease. We provide accurate and timely insights, ensuring your financial health and compliance. Trust in Givuma for clarity in numbers."
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Bookkeeping"
            icon='<svg class="inline relative -top-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/><path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/></svg>'
            text="Reliable bookkeeping is key. We capture every transaction with precision, freeing you to focus on business growth."
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Payroll"
            icon='<svg class="inline relative -top-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16"><path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/><path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/></svg>'
            text="Pay your team right and on time. We simplify payroll processes, ensuring accuracy in every detail. Lean on Givuma for a hassle-free experience."
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Human Resources"
            icon='<svg class="inline relative -top-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/></svg>'
            text="People are your business's core. We foster a compliant and positive work environment, managing relations and training for a thriving culture."
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Recruiting"
            icon='<svg class="inline relative -top-1 text-primary-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>'
            text="The right talent drives success. Through our expansive networks and strategies, we connect you with candidates who fit your vision. Let Givuma help shape your team's future."
            class="'text-rose-500'"
          />
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <Cta />
    </Container>
  </SectionMuted>
</Layout>
